
.logo_header{
   align-items: center;
}

.links_header {
    text-align: center;
    -webkit-text-fill-color: var(--cor-texto);
    margin-bottom: 2em;
    margin-top: 3em;
}

.home {
    background-color: var(--cor-texto);
    padding: 13em 3em 3em 3em;
    display: grid;
    column-gap: 50%;
}

.home_frase{
    font-size: 30px;
}
